*{
    padding: 0px;
    margin: 0px;
}
.navbar{
background-color: blue;
height: 37rem;
}
img{
    margin-top: 40px;
    margin-left: 60px;
}
a{
    list-style-type: none;
    text-decoration: none;
    margin-left: 20px;
    color: white;
}
.r{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-right: 20px;
}
.e{
    display: flex;
    justify-content: flex-end;
    margin-top: -20px;
    margin-right: 150px;
}
.asd{
    background-color: wheat;
    height: 50rem;
}
button {
    height: 40px;
    background-color: blue;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0 2em 0 2em;
    margin-top: 50px;
    margin-left: 100px;
}
.footer{
    background-color: black;
    height: 10rem;
}
.button {
    height: 40px;
    background-color: blue;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 0 2em 0 2em;
  margin-top: 50px;
    margin-left: 800px;
}
.gyth{
    background-color: white;
    height: 20rem;
margin-top: -100px;
}
.fr{
    background-color: black;
    height: 30rem;
}